@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
main{
  display: flex;
    background-color: #f9fafc;
}
/************** flrst flex **************/
.flex1{
  background-image: url(./WhatsApp\ Image\ 2022-08-25\ at\ 8.16.07\ PM.jpeg);
  width: 40%;
  height: 100vh;
  background-position: contain;
  color: white;
}
.odinbox{
  background-color:black;
  opacity: 0.4;
  display: flex;
  align-items: center;
  margin-top: 150px;
  padding: 15px 0;
}
.odin{
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.odin img{
  width: 55px;
    opacity: unset;
}
.odin p{
  width: 70px;
  margin-left: 10px;
  font-size: 30px;
  opacity: 1;
}
.flex_foot{
  margin: 400px auto;
  text-align: center;
  font-size: 13px;
}
.flex_foot span{
  text-decoration: underline;
}
/*********** second flex ***************/
.flex2box{
  background-color: #f9fafc;
  width: 100%;
}
.flex2{
  margin: 50px 0;
}
.flex2 .firsthead{
  margin: 0 30px 30px 60px;
}
.flex2 .secondhead{
  margin: 25px 60px 40px;
}
.flex2 .thirdhead{
  margin: 10px 0;
}
form{
  margin-bottom: 20px;
  background-color: white;
  padding: 30px 100px 30px 60px ;
}
input{
  border: 1px solid rgba(128, 128, 128, 0.3) ;
  padding: 4px 40px;
  border-radius: 4px;
}
label{
  font-size: 13px;
}
.name{
  display: flex;
}
.contact{
  display: flex;
}
.pword{
  display: flex;
}
button{
  background-color: #536e4a;
  border: none;
  border-radius: 3px;
  margin-left: 60px;
  padding: 5px 25px;
  color: white;
  margin-bottom: 10px;
}
